{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}



    <div id="welcome-text"
         style="display:
                 {% if form.errors %}
                     none
                 {% else %}
                     block
                 {% endif %}
                 ;"
    >
        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-center">
                <img style="max-width: 20vw" class="text-center" src="{% static "contact_us\img.png" %}"
                     alt="arad mohajer">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 pt-2">
                <h1 class="text-center" style="color: #1A237E;font-weight: bold;">فرم مشاوره تخصصی</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 pt-2">
                <p class="" style="color: #1A237E;">
                    اطلاعات شما نزد ما محفوظ خواهد بود و جهت بررسی شرایط اولیه شما برای مهاجرت استفاده می گردد. این کار
                    به
                    این جهت هست که بر اساس شرایط و پتانسیل واقعی شما بهترین مسیر مهاجرتی معرفی شود. آرزوی توفیق و پیروزی
                </p>
                <p class="" style="color: #1A237E;">موسسه آراد مهاجر ماهان</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1 pt-2 d-flex justify-content-center">
                <a onclick="showForm()" class="btn btn-primary ">شروع</a>
            </div>
        </div>
    </div>
    <div class="px-5 mx-5">
        {% for field in form.visible_fields %}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">برای بخش {{ field.label_tag }}{{ field.errors.as_text }}
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <form style="display:
            {% if form.errors %}
                block
            {% else %}
                none
            {% endif %}

            ;"
          id="regForm" autocomplete="off" method="post" action="{% url 'contact_us:form' %}">
        {% csrf_token %}
        <!-- One " tab" for each step in the form: -->
        {% for field in form.visible_fields %}
            <div class="tab">
                <p class="fw-bold">{{ field.label_tag }}</p>
                <p class="fw-light">{{ field.help_text }}</p>
                {{ field }}
            </div>
        {% endfor %}
        <div style="overflow:auto;">
            <div style="float:right;">
                <a class="btn btn-outline-primary " type="button" id="prevBtn" onclick="nextPrev(-1)">
                    قبل
                </a>
                <a class="btn btn-outline-primary " type="button" id="nextBtn" onclick="nextPrev(1)">
                    بعد
                </a>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">

            {% for field in form.visible_fields %}
                <span class="step"></span>
            {% endfor %}
        </div>

    </form>
    <style>
        /* Style the form */
        #regForm {
            background-color: #ffffff;
            margin: 20px auto;
            padding: 40px;
            width: 70%;
            min-width: 300px;
        }

        /* Style the input fields */
        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

        /* Hide all steps by default: */
        .tab {
            display: none;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }
    </style>
    <script>


        function validateEmail(email) {
            return String(email)
                .toLowerCase()
                .match(
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                )
        }

        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form ...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n === 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n === (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "ارسال";
            } else {
                document.getElementById("nextBtn").innerHTML = "بعد";
            }
            // ... and run a function that displays the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n === 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {
                //...the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value === "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;
                }
                if (y[i].type === "email") {
                    if (!validateEmail(y[i].value)) {
                        y[i].className += " invalid";
                        // and set the current valid status to false:
                        valid = false;
                    }
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class to the current step:
            x[n].className += " active";
        }

        function showForm() {
            var welcomeTxt = document.getElementById('welcome-text');
            var form = document.getElementById('regForm');
            welcomeTxt.style.display = 'none'
            form.style.display = 'block'
        }


        {##}
        {#var currentTab = 0; // Current tab is set to be the first tab (0)#}
        {#showTab(currentTab); // Display the current tab#}
        {##}
        {#function showTab(n) {#}
        {#    // This function will display the specified tab of the form ...#}
        {#    var x = document.getElementsByClassName("tab");#}
        {#    x[n].style.display = "block";#}
        {#    // ... and fix the Previous/Next buttons:#}
        {#    if (n === 0) {#}
        {#        document.getElementById("prevBtn").style.display = "none";#}
        {#    } else {#}
        {#        document.getElementById("prevBtn").style.display = "inline";#}
        {#    }#}
        {#    if (n === (x.length - 1)) {#}
        {#        document.getElementById("nextBtn").innerHTML = "Submit";#}
        {#    } else {#}
        {#        document.getElementById("nextBtn").innerHTML = "Next";#}
        {#    }#}
        {#    // ... and run a function that displays the correct step indicator:#}
        {#    fixStepIndicator(n)#}

        {##}
        {#function nextPrev(n) {#}
        {#    // This function will figure out which tab to display#}
        {#    var x = document.getElementsByClassName("tab");#}
        {#    // Exit the function if any field in the current tab is invalid:#}
        {#    if (n === 1 && !validateForm()) return false;#}
        {#    // Hide the current tab:#}
        {#    x[currentTab].style.display = "none";#}
        {#    // Increase or decrease the current tab by 1:#}
        {#    currentTab = currentTab + n;#}
        {#    // if you have reached the end of the form... :#}
        {#    if (currentTab >= x.length) {#}
        {#        //...the form gets submitted:#}
        {#        document.getElementById("regForm").submit();#}
        {#        return false;#}
        {#    }#}
        {#    // Otherwise, display the correct tab:#}
        {#    showTab(currentTab);#}

        {##}
        {#function validateForm() {#}
        {#    // This function deals with validation of the form fields#}
        {#    var x, y, i, valid = true;#}
        {#    x = document.getElementsByClassName("tab");#}
        {#    y = x[currentTab].getElementsByTagName("input");#}
        {#    // A loop that checks every input field in the current tab:#}
        {#    for (i = 0; i < y.length; i++) {#}
        {#        // If a field is empty...#}
        {#        if (y[i].value === "") {#}
        {#            // add an "invalid" class to the field:#}
        {#            y[i].classList.add("invalid");#}
        {#            // and set the current valid status to false:#}
        {#            valid = false;#}
        {#        }#}
        {#        if (y[i].type === "email") {#}
        {#            console.log(y[i].value)#}
        {#            if (validateEmail(y[i].value)) {#}
        {#                console.log(y[i])#}
        {#                y[i].classList.add("invalid");#}
        {#                // and set the current valid status to false:#}
        {#                valid = false;#}
        {#            }#}
        {#        }#}
        {#    }#}
        {#    // If the valid status is true, mark the step as finished and valid:#}
        {#    if (valid) {#}
        {#        document.getElementsByClassName("step")[currentTab].classList.add("finish");#}
        {#    }#}
        {#    return valid; // return the valid status#}

        {##}
        {#function fixStepIndicator(n) {#}
        {#    // This function removes the "active" class of all steps...#}
        {#    var i, x = document.getElementsByClassName("step");#}
        {#    for (i = 0; i < x.length; i++) {#}
        {#        x[i].className = x[i].classList.replace("active", "");#}
        {#    }#}
        {#    //... and adds the "active" class to the current step:#}
        {#    x[n].classList.add("active");#}

    </script>
{% endblock content %}