{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-12">
                    <div class="user-form">
                        <h1>ارتباط با ما</h1>
                        <hr>
                        <p>
                            با سپاس، مسیر ارتباطی ما با شما از طریق واتس آپ هست. لطفا نام و نام خانوادگی خودتون رو به
                            این
                            شماره واتس آپ ارسال کنید.
                        </p>
                        <p>
                            شماره واتس آپ: 09198064742
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}