{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
     ورود به پورتال
{% endblock title %}
{% block content %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <script>
                alertify.error("{{ error }}");
            </script>
        {% endfor %}
    {% endif %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="user-form">
                        <h1>{% translate "Login" %}</h1>

                        <hr>
                        {% if next %}
                            {#                            {% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access" %}#}
                            حساب کاربری شما به این صفحه دسترسی ندارد. برای ادامه، لطفا با حساب کاربری که دسترسی دارد
                            وارد شوید
                        {% else %}
                            {#                            {% translate "Please login " %}#}
                        {% endif %}
                        <form method="post" action="{% url 'account:login' %}">
                            <div class="row">
                                {% csrf_token %}

                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.username.label_tag }}
                                    </div>
                                    {{ form.username }}
                                    <p class="text-danger">    {{ form.username.errors.as_text }}</p>
                                    {% if form.username.help_text %}
                                        <p class="help">{{ form.username.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.password.label_tag }}
                                    </div>
                                    {{ form.password }}
                                    <p class="text-danger">         {{ form.password.errors.as_text }}</p>
                                    {% if form.password.help_text %}
                                        <p class="help">{{ form.password.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                {{ form.captcha }}
                                <p class="text-danger">    {{ form.captcha.errors.as_text }}</p>
                            </div>
                            <button type="submit" class="mt-1 btn btn-primary">{% translate "Login" %}</button>
                            <a href="{% url "account:password_reset" %}"
                               class="mt-1 btn btn-warning">{% translate "Forget Password" %}</a>
                            <input type="hidden" name="next" value="{{ next }}">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    {% if form.errors %}#}
    {#        <p>Your username and password didn't match. Please try again.</p>#}
    {#    {% endif %}#}
    {#    <form method="post" action="{% url 'account:login' %}">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#        <input type="submit" value="login">#}
    {#        <input type="hidden" name="next" value="{{ next }}">#}
    {#    </form>#}

{% endblock content %}