{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div id="page-top" class="wide">
        <!-- Single Service Item ////////// Just this Section is changed! -->
        <div id="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="user-form">
                        <h1>{% translate "Login" %}</h1>
                        <hr>
                        <form autocomplete="off" method="post" action="{% url 'account:signup' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.first_name.label_tag }}
                                    </div>
                                    {{ form.first_name }}
                                    <p class="text-danger">{{ form.first_name.errors.as_text }}</p>

                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.last_name.label_tag }}
                                    </div>
                                    {{ form.last_name }}
                                    <p class="text-danger"> {{ form.last_name.errors.as_text }}</p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.username.label_tag }}
                                    </div>
                                    {{ form.username }}
                                    <p class="text-danger">{{ form.username.errors.as_text }}</p>

                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.email.label_tag }}
                                    </div>
                                    {{ form.email }}
                                    <p class="text-danger"> {{ form.email.errors.as_text }}</p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.password1.label_tag }}
                                    </div>
                                    {{ form.password1 }}
                                    <p class="text-danger"> {{ form.password1.errors.as_text }}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.password2.label_tag }}
                                    </div>
                                    {{ form.password2 }}
                                    <p class="text-danger">{{ form.password2.errors.as_text }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.mobile.label_tag }}
                                    </div>
                                    {{ form.mobile }}
                                    <p class="text-danger"> {{ form.mobile.errors.as_text }}</p>

                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        {{ form.telegram_id.label_tag }}
                                    </div>
                                    {{ form.telegram_id }}
                                    <p class="text-danger">  {{ form.telegram_id.errors.as_text }}</p>

                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-12">
                                    <div>
                                        {{ form.address.label_tag }}
                                    </div>
                                    <p class="text-danger">   {{ form.address.errors.as_text }}</p>

                                    {{ form.address }}

                                </div>
                                {{ form.captcha }}
                                <p class="text-danger">  {{ form.captcha.errors.as_text }}</p>

                            </div>
                            <button type="submit" class="mt-1 btn btn-primary">{% translate "Create account" %}</button>


                        </form>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    {% if form.password1.help_text %}
                        <p class="help">{{ form.password1.help_text|safe }}</p>
                    {% endif %}
                    {% if form.mobile.help_text %}
                        <p class="help">{{ form.mobile.help_text|safe }}</p>
                    {% endif %}
                    {% if form.telegram_id.help_text %}
                        <p class="help">{{ form.telegram_id.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}