{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
        <div class="service-item">
            <div class="row wide">
                <div class="col-lg-6">
                    <div class="service-img">
                        <img class="" src="{% static "core/images/0001.jpg" %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-name">
                        <h1>خدمات مشاوره تحصیلی</h1>
                    </div>
                    <hr>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                        درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                        را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
                    </p>
                    <div class="btn-group buy" role="group">
                        <button type="button" class="btn btn-primary btn-icon" style="pointer-events: none;" disabled><i
                                class="fas fa-hand-pointer"></i></button>
                        <button type="button" class="btn btn-outline-primary btn-text">افزودن به سبد خرید</button>
                    </div>
                </div>
            </div>
            <div class="row wide2 over_flow">
                <div class="col-12 tabs"> <!-- har kodoom az in Div, yek Tab beshe. -->
                    <img class="" src="{% static "core/images/0001.jpg" %}" alt="">
                    <p>
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب

                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها


                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها


                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها


                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها


                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها
                        و ایجاد لیست و ... بدون امکان افزودن عکس یا کارهای عجیب و غریب
                        توضیحات بیشتر... نوشتن متن بصورت آزاد با ادیتور ساده برای فونت و سایز متن و هدینگ دادن به متنها

                    </p>
                </div>
            </div> <!-- service End -->
            <!-- Cards -->
            <div class="row wide">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static "core/images/0001.jpg" %}">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static "core/images/0001.jpg" %}">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static "core/images/0001.jpg" %}">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static "core/images/0001.jpg" %}">
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- Cards End -->
        </div>
        <!-- XXXXXX -->
        {#        <div class="post-item">#}
        {#            <div class="row post-item-head">#}
        {#                <div class="col-lg-6">#}
        {#                    <div class="post-name">#}
        {#                        <h1>{{ object.title }}</h1>#}
        {#                        <strong class="post-date">01.01.1401</strong>#}
        {#                    </div>#}
        {#                    <hr>#}
        {#                    {{ object.introduction | safe }}#}
        {#                </div>#}
        {#                <div class="col-lg-6">#}
        {##}
        {#                    <div class="post-img">#}
        {#                        <img class="" src="{{ object.picture.url }}" alt="">#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="row service-item-body">#}
        {#                <h1>توضیحات بیشتر:</h1>#}
        {#                {{ object.description | safe }}#}
        {#            </div>#}
        {##}
        {##}
        {#            {% if not is_owner %}#}
        {#                <form autocomplete="off" method="post" action="{% url 'store:cart' %}">#}
        {#                    {% csrf_token %}#}
        {#                    <input type="text" name="product" value="{{ service.pk }}" hidden>#}
        {#                    <input type="text" name="request_type" value="inc" hidden>#}
        {#                    <input type="number" name="quantity" value="1" hidden>#}
        {#                    <input type="submit" class="btn btn-primary" value="اضافه به سبد خرید">#}
        {#                </form>#}
        {#            {% endif %}#}
        {#        </div>#}
{% endblock %}