{% extends "core/base.html" %}
{% load humanize %}
{% load i18n %}


{% block content %}
    <div id="page-top" class="wide">
        <div id="user">
            {% if cart_has_item %}
                <table class="table" id="cart-table">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">سطر</th>
                        <th scope="col" style="text-align: right">نام کالا</th>
                        <th scope="col">قیمت</th>
                        <th scope="col" class="text-center">تعداد</th>
                        <th scope="col" class="text-center">تغییر تعداد</th>
                        <th scope="col" class="text-center">حذف</th>
                        <th scope="col" class="text-center">مشاهده</th>
                    </tr>
                    </thead>
                    <tbody >
                    {% for item in cart_item %}
                        <tr class="text-center" id="row{{ forloop.counter }}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td style="text-align: right">{{ item.product.title }}</td>
                            <td>{{ item.product.price |floatformat:"0" |intcomma }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <form class="d-inline mx-2" autocomplete=off method="post"
                                      action="{% url 'store:cart_item' item.id %}">
                                    {% csrf_token %}
                                    <input type="text" name="product" value="{{ item.product.pk }}" hidden>
                                    <input type="text" name="request_type" value="dec" hidden>
                                    <input type="number" name="quantity" value="1" hidden>
                                    <i class="fa fa-minus" style="cursor : pointer" onclick="this.closest('form').submit()" aria-hidden="true"></i>
{#                                    <input type="submit" value="Dec">#}
                                </form>

                                <form class="d-inline mx-2" autocomplete=off method="post"
                                      action="{% url 'store:cart_item' item.id %}">
                                    {% csrf_token %}
                                    <input type="text" name="product" value="{{ item.product.pk }}" hidden>
                                    <input type="text" name="request_type" value="inc" hidden>
                                    <input type="number" name="quantity" value="1" hidden>
                                    <i class="fa fa-plus" style="cursor : pointer" onclick="this.closest('form').submit()" aria-hidden="true"></i>
{#                                    <input type="submit" value="Inc">#}
                                </form>


                            </td>
                            <td>
                                <form class="d-inline mx-2" autocomplete=off method="post"
                                      action="{% url 'store:cart_item' item.id %}">
                                    {% csrf_token %}
                                    <input type="text" name="product" value="{{ item.product.pk }}" hidden>
                                    <input type="text" name="request_type" value="del" hidden>
                                    <input type="number" name="quantity" value="1" hidden>
                                    <i class="fa fa-trash" style="cursor : pointer" onclick="this.closest('form').submit()" aria-hidden="true"></i>
{#                                    <input type="submit" value="Inc">#}
                                </form>


{#                                #}
{#                                #}
{#                                <i class="fa fa-trash" style="cursor : pointer" id="delete{{ forloop.counter }}" aria-hidden="true"></i>#}
{##}
{#                                <script>#}
{#                                    $("#delete{{ forloop.counter }}").click(function () {#}
{#                                        $.ajax({#}
{#                                            type: "DELETE",#}
{#                                            url: '{% url 'store:cart_item'  item.id %}',#}
{#                                            beforeSend: function (xhr) {#}
{#                                                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));#}
{#                                            },#}
{#                                            success: function (data) {#}
{#                                                console.log("success");#}
{#                                                $('#row{{ forloop.counter }}').remove();#}
{#                                            },#}
{#                                            error: function (data) {#}
{#                                                alertify.error('{% translate "error in response" %}');#}
{#                                            },#}
{##}
{#                                        });#}
{#                                    });#}
{#                                </script>#}
                            </td>
                            <td>
                                <a href="{{ item.get_absolute_url }}" type="button"
                                   class="btn btn-outline-primary btn-equal">مشاهده</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <br>
                <h1>جمع کل {{ cart_sum |floatformat:"0" |intcomma }}</h1>
                <form autocomplete=off method="post"
                      action="{% url 'store:payments' %}">
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Pay Order' %}">
                </form>
            {% else %}
                <h1>{% trans "your cart is empty" %}</h1>
            {% endif %}
            {% for post in page_obj %}

            {% endfor %}

        </div>
    </div>
{% endblock %}