{% extends "core/base.html" %}
{% load jformat %}

{% block title %}
    رویداد
{% endblock title %}
{% block description %}
    {{ event.seo_tag }}
{% endblock description %}
{% block content %}
    <div id="page-top" class="wide">
        <div class="post-item row">
            <div class="col-lg-6 post-item-head">
                <div class="post-name">
                    <h1>{{ event.title }}</h1>
                </div>
                <hr>
                <div class=" d-lg-none">
                    <img class="img-fluid" style="max-width: 100%" src="{{ object.picture.url }}" alt="">
                </div>
                {{ event.description }}
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img class="img-fluid" style="max-width: 100%" src="{{ object.picture.url }}" alt="">
            </div>
            <div class="col-lg-6 ">
                <div class="event-info">
                    <table class="table">
                        <tr>
                            <td class="notice"><i class="fa fa-calendar"></i> تاریخ:</td>
                            <td>{{ event.start_date|jformat:"%Y-%m-%d" }}</td>
                            <td class="notice"><i class="fa fa-location-arrow"></i> مکان:</td>
                            <td>آنلاین - غیر حضوری</td>
                        </tr>
                        <tr>
                            <td class="notice"><i class="fa fa-clock"></i> زمان:</td>
                            <td>{{ event.start_date|jformat:"%H:%M" }} -
                                {{ event.end_date|jformat:"%H:%M" }}</td>
                            <td class="notice"><i class="fa fa-coins"></i> هزینه:</td>
                            <td>{{ event.price }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--
            <div class="service-video">
                <div id="73832804035"><script type="text/JavaScript" src="https://www.aparat.com/embed/2QjXp?data[rnddiv]=73832804035&data[responsive]=yes"></script></div>
            </div>
            -->
        </div>
        <!-- Register Form for Event -->
        <div id="event-register">
            <div class="row">
                <div class="col">
                    <div class="user-form">
                        {% if is_owner %}
                            <a href="{{ object.join_link }}" class="btn btn-primary">لینک ورود</a>
                        {% else %}
                            <form autocomplete="off" method="post" action="{% url 'store:cart' %}">
                                {% csrf_token %}
                                <input type="text" name="product" value="{{ event.pk }}" hidden>
                                <input type="text" name="request_type" value="add" hidden>
                                <input type="number" name="quantity" value="1" hidden>
                                <input type="submit" class="btn btn-primary" value="اضافه به سبد خرید">
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Page Title Ends -->
{% endblock content %}