{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="service-item">
        <div class="row wide">
            <div class="col-lg-6">
                <div class="service-img">
                    <img class="" src="{{ object.picture.url }}" alt="{{ object.picture.description }}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-name">
                    <h1>{{ object.title }}</h1>
                </div>
                <hr>
                <p>
                    {{ object.introduction }}
                </p>
                {% if  is_owner %}

                {% else %}
{#                    <div class="btn-group buy" role="group">#}
                        <form class="btn-group buy" autocomplete="off" method="post" action="{% url 'store:cart' %}">
                            {% csrf_token %}
                            <input type="text" name="product" value="{{ object.pk }}" hidden>
                            <input type="text" name="request_type" value="inc" hidden>
                            <input type="number" name="quantity" value="1" hidden>
                            {#                            <input type="submit" class="btn btn-primary" value="اضافه به سبد خرید">#}
                            <button type="button" class="btn btn-primary btn-icon" style="pointer-events: none;"
                                    disabled><i
                                    class="fas fa-hand-pointer"></i></button>
                            <button type="submit" class="btn btn-outline-primary btn-text">افزودن به سبد خرید</button>
                        </form>


{#                        <button type="button" class="btn btn-primary btn-icon" style="pointer-events: none;" disabled><i#}
{#                                class="fas fa-hand-pointer"></i></button>#}
{#                        <button type="button" class="btn btn-outline-primary btn-text">افزودن به سبد خرید</button>#}
{#                    </div>#}
                {% endif %}
            </div>
        </div>
        <div class="row wide2 over_flow">
            <div class="col-12 tabs"> <!-- har kodoom az in Div, yek Tab beshe. -->
                <img class="" src="{{ object.picture_descrip.url }}" alt="{{ object.picture_descrip.description }}">
                {{ object.description | safe }}
            </div>
        </div> <!-- service End -->
        <!-- Cards -->
        <div class="row wide">
            {% for product  in same_product %}
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-to" src="{{ product.picture.url }}"
                             alt="{{ product.picture.description }}">
                        <div class="card-body">
                            <div class="service-name">
                                <h1>{{ product.title }}</h1>
                            </div>
                            <p>
                                {{ object.introduction }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}