{% extends "core/base.html" %}
{% load static %}
{% load jformat %}
{% load core_tag %}
{% block content %}

    <div id="highlights" class="wide">
        <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
                data-bs-interval=5000
                data-bs-pause=false
                style="min-height: 400px"
        >
            <div class="carousel-inner" style="height: 60vh">
                {% for post in Posts %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>
                                    {{ post.title }}
                                </h1>
                                <hr>
                                <p style="text-align: justify">
                                    {{ post.intro }}<a href="{{ post.get_absolute_url }}">&nbsp;ادامه مطلب ...</a>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <a href="{{ post.get_absolute_url }}">
                                    <img class="home-post-pic" src="{{ post.picture.url }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="next-prev">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>

    <!-- Services -->
    <div id="services" class="wide2">
        <div class="row">
            <div class="col-lg-6">
                {% for service in highlight_services %}
                    <div class="row services-highlight">
                        <div class="col-5">
                            <a href="#"><h1>{{ service.title }}</h1></a>
                            <a href="#"><img class="" src="{{ service.picture.url }}" alt=""></a>
                        </div>
                        <div class="col-7">
                            <p style="text-align: justify">{{ service.introduction }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <div class="services-latest">
                    {% for service in services %}
                        <div class="services-single">
                            <a href="#"><h1>{{ service.title }}</h1></a>
                            <a href="#"><img class="" src="{{ service.picture.url }}" alt="{{ service.title }}"></a>
                        </div>
                    {% endfor %}
                    {#                    <div class="services-single">#}
                    {#                        <a href="#"><h1>ارسال رزومه</h1></a>#}
                    {#                        <a href="#"><img class="" src="{% static "core/images/0001.jpg" %}" alt=""></a>#}
                    {#                    </div>#}

                </div>
            </div>
        </div>
    </div>

    <!-- Events -->
    <div id="events" class="wide">
        <div class="row events-highlight">
            <div class="col-lg-6">
                {% for event in events %}
                    <div class="events-highlight-single">
                        <div class="event-highlight-date">
                            <a>
                                <p class="m-0 p-0">{{ event.start_date|jformat:"%d"}}</p>
                                <p class="m-0 p-0">{{ event.start_date|jformat:"%B" |str_month_to_persian}}</p>
                            </a>
                        </div>
                        <div class="event-highlight-desc">
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                {% endfor %}
                {#                        <div class="events-highlight-single">#}
                {#                            <div class="event-highlight-date">#}
                {#                                <a href="#">22<br>آذر</a>#}
                {#                            </div>#}
                {#                            <div class="event-highlight-desc">#}
                {#                                <p>#}
                {#                                    توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات رویداد توضیحات#}
                {#                                    رویداد توضیحات رویداد توضیحات#}
                {#                                </p>#}
                {#                            </div>#}
                {#                        </div>#}

            </div>
            <div class="col-lg-6 video-highlight">
                <!-- Video Player -->
                <!--
                <video width="100%" height="auto" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                -->
                <!-- FOR FUN !! :) -->

                <div id="65895924565">
                    <script type="text/JavaScript"
                            src="https://www.aparat.com/embed/RJvUP?data[rnddiv]=65895924565&data[responsive]=yes"></script>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}